@import url('https://fonts.googleapis.com/css?family=Blinker&display=swap');
.main-font {
    font-family: 'Blinker', sans-serif;
}
.flex-container {
    display: flex;
    flex-direction: column;
    
}
.container-space-around {
    display: flex;
    justify-content: space-around;
}
.box-container {
    box-shadow: 10px 10px 40px rgba(39, 72, 163, 0.507);
    border: 2px solid rgba(204, 204, 204, 0.062);
    width: 30%;
}
.header {
    background-color: rgba(24, 81, 240, 0.822);
    padding: 50px;
    font-size: 5em;
    margin-bottom: 50px;
    box-shadow: 10px 10px 40px rgba(39, 72, 163, 0.507);
    color: white;
}